<app-auth-navbar></app-auth-navbar>
<main class="profile-page">
  <section class="relative block h-500-px">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80');
      ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black">USER REPORT</span>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>    
    </div> 
  </section>

  <div class="relative md:pt-32 pb-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <a [routerLink]="['/userDashboard/employeeDetails/', id]"
      class="flex items-center bg-blue-500 text-black font-bold py-2 px-4 rounded" routerLinkActive
      #adminDashboard="routerLinkActive">
     <i class="fas fa-arrow-left mr-2 text-lg"></i>
     <b>Back</b>
   </a>
   
      <div class="flex flex-wrap justify-center">
        <!-- Card stats -->
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 mb-4" *ngFor="let ssdata of screenShoteData">
          <div class="relative">
            <div class="card-container">
              <div class="relative group">
                <img (click)="zoomImage(ssdata.screenshot_url)" src="{{ssdata.screenshot_url}}"
                  class="h-48 w-full bg-white border rounded-t-lg transition-transform duration-300 transform-gpu scale-100 group-hover:scale-110"
                  alt="...">
                <div *ngIf="isHovered"
                  class="absolute inset-0 bg-black opacity-80 transition-opacity duration-300 flex justify-center items-center">
                  <img src="{{ssdata.screenshot_url}}" class="h-full max-w-full max-h-full" alt="..." />
                </div>
              </div>
              <span class="text-sm tracking-wide text-blueGray-600">Mouse Clicks: <span
                  class="text-sm font-bold">{{ssdata.mouse_click}}</span></span>
              <span class="text-sm tracking-wide text-blueGray-600">Keyboard Clicks: <span
                  class="text-sm font-bold">{{ssdata.keyboard_click}}</span></span>
              <span class="text-sm tracking-wide text-blueGray-600">Active Screens:
                <span class="text-xs font-bold">
                  <p *ngFor="let activeData of ssdata.active_screen">{{activeData.name}}</p>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="grid-flow-row relative py-16 bg-blueGray-200">
  </section>
</main>
<app-footer></app-footer>

<!-- Zoomed image container -->
<div id="zoomedImageContainer" class="hidden">
  <button id="closeButton" class="close-button">&times;</button> <!-- Close button -->
  <img id="zoomedImage" src="" alt="Zoomed Image"> <!-- Zoomed Image -->
</div>

