<app-auth-navbar></app-auth-navbar>
<main class="profile-page">
  <section class="relative block h-500-px">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80');
      ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black">Permission Management</span>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <div class="relative pb-32">
    <div class="px-4 md:px-10 mx-auto w-full">
      <a [routerLink]="['/admin/modules/']" class="flex items-center bg-blue-500 text-black font-bold py-2 px-4 rounded"
        routerLinkActive #adminDashboard="routerLinkActive">
        <i class="fas fa-arrow-left mr-2 text-lg"></i>
        <b>Back</b>
      </a>
      <div class="flex flex-wrap justify-center">
        <div class="flex flex-wrap mt-4">
          <div class="w-full mb-12 px-4">
            <app-permission-list></app-permission-list>
          </div>
        </div>
      </div>
    </div></div>
</main>
<app-footer></app-footer>