<mat-tab-group class="custom-tab-group">
  <!-- First tab with the table -->
  <mat-tab label="All Leave">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
      [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1">
            <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">
              Leave Tables
            </h3>
          </div>
          <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
          </div>
        </div>
      </div>
      <div class="block w-full overflow-x-auto">
        <!-- Leaves table -->
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
                Employee Details
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
                Leave Type
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
                Leave Date
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
                Leave Reason
              </th>
              <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-red-800 text-red-300 border-red-700'
              ">
              Approver Remark
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Leavelist of Leavelist">
              <th
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                <!-- <img src="assets/img/team-3-800x800.jpg" class="h-12 w-12 bg-white rounded-full border" alt="..." /> -->
                <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                  {{Leavelist.first_name}} {{Leavelist.last_name}} | {{Leavelist.employee_code}}
                </span>
              </th>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{Leavelist.leave_name}}
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- {{managerName(Leavelist.project_manager_id).first_name}} -->
                {{ formatDate(Leavelist.attendance_date) }}

              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{Leavelist.leave_reason}}
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{Leavelist.leave_remark}}
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- Check if leave is approved -->
                <ng-container *ngIf="Leavelist.leave_approved === 1; else denied">
                  <span class="text-green-500">Leave Approved</span>
                </ng-container>
              
                <!-- Template for denied leave -->
                <ng-template #denied>
                  <!-- Check if leave is denied -->
                  <ng-container *ngIf="Leavelist.leave_approved === 1                                                                                                                              
                  ; else dropdown">
                    <span class="text-red-500">Leave Denied</span>
                  </ng-container>
                  
                  <!-- Dropdown for pending leave -->
                  <ng-template #dropdown>
                    <app-leave-dropdown [updateId]="Leavelist.attendance_id"></app-leave-dropdown>
                  </ng-template>
                </ng-template>
              </td>
              
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>

  <!-- Second tab -->
  <mat-tab label="Approved Leaves">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
      [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1">
            <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">
              Approved Leave
            </h3>
          </div>
          <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
          </div>
        </div>
      </div>
      <div class="block w-full overflow-x-auto">
        <!-- Leaves table -->
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
                Employee Details
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
                Leave Type
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
                Leave Date
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
                Leave Reason
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">Approver Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Leavelist of ApprovedLeavelist">
              <th
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                <!-- <img src="assets/img/team-3-800x800.jpg" class="h-12 w-12 bg-white rounded-full border" alt="..." /> -->
                <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                  {{Leavelist.first_name}} {{Leavelist.last_name}} | {{Leavelist.employee_code}}
                </span>
              </th>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{Leavelist.leave_name}}
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- {{managerName(Leavelist.project_manager_id).first_name}} -->
                {{ formatDate(Leavelist.attendance_date) }}

              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{Leavelist.leave_reason}}
              </td>

              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{Leavelist.leave_remark}}
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>

  <!-- Third tab -->
  <mat-tab label="Denied Leaves">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
      [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1">
            <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">
              Denied Leave
            </h3>
          </div>
          <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
          </div>
        </div>
      </div>
      <div class="block w-full overflow-x-auto">
        <!-- Leaves table -->
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
             color === 'light'
               ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
               : 'bg-red-800 text-red-300 border-red-700'
           ">
                Employee Details
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
             color === 'light'
               ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
               : 'bg-red-800 text-red-300 border-red-700'
           ">
                Leave Type
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
             color === 'light'
               ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
               : 'bg-red-800 text-red-300 border-red-700'
           ">
                Leave Date
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
             color === 'light'
               ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
               : 'bg-red-800 text-red-300 border-red-700'
           ">
                Leave Reason
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
             color === 'light'
               ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
               : 'bg-red-800 text-red-300 border-red-700'
           ">Approver Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Leavelist of DeniedLeavelist">
              <th
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                <!-- <img src="assets/img/team-3-800x800.jpg" class="h-12 w-12 bg-white rounded-full border" alt="..." /> -->
                <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                  {{Leavelist.first_name}} {{Leavelist.last_name}} | {{Leavelist.employee_code}}
                </span>
              </th>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{Leavelist.leave_name}}
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- {{managerName(Leavelist.project_manager_id).first_name}} -->
                {{ formatDate(Leavelist.attendance_date) }}

              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{Leavelist.leave_reason}}
              </td>

              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{Leavelist.leave_remark}}
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>